<div class="game-board container">
  <div class="categories row">
    <div class="category col" *ngFor="let category of categories">{{ category }}</div>
  </div>
  <div class="questions">
    <div class="question-row row" *ngFor="let questionRow of questionRows">
      <ng-container *ngFor="let question of questionRow.questions">
          <div class="question-value col" 
          [@flipQuestion]="question.showQuestion && !question.showAnswerText ? 'back' : 'front'"
          [@flipAnswer]="question.showAnswerText ? 'back' : 'front'"
          [@fade]="question.isAnswered ? 'out' : 'in'" 
          (click)="flipCard(question)">
          <div *ngIf="!question.showQuestion">{{ questionRow.value }}</div>
          <div class="medium-text" *ngIf="question.showQuestion && !question.showAnswerText">{{ question.question }}</div>
          <div class="small-text" *ngIf="question.showAnswerText">{{ question.answer }}</div>
        </div>      
      </ng-container>
    </div>
  </div>
</div>
